HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

/src/main/resources/static

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


##vue frontend
/src/frontend/.DS_Store
/src/frontend/node_modules/
/src/frontend//dist/
/src/frontend/npm-debug.log*
/src/frontend/yarn-debug.log*
/src/frontend/yarn-error.log*

# Editor directories and files
/src/frontend/.idea
/src/frontend/.vscode
/src/frontend/*.suo
/src/frontend/*.ntvs*
/src/frontend/*.njsproj
/src/frontend/*.sln
